*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    max-width: 1920px;
    max-height: 1663px;
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    padding-left: 344px;
    padding-right: 90px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    
}

input{
    width:446px;
    height: 56px;
    margin-left:25px;
    background-color: #f8f8f8;
    position: relative;
    border:0px solid;
    border-radius: 12px;
}

i{
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 10;
    margin-left:-30px;
    margin-top:16px ;
}
.words{
    width: 55px;
    color: #FF2288;
    height: 19px;
}
.notification{
    width: 24px;
    height: 24px;
    margin-left: 30px;
}
.message{
    width: 24px;
    height: 24px;
    margin-left: 30px;
}
.picture{
    max-width: 56px;
    height: 56px;
    margin-left: 30px;
}
button{
    width: 129px;
    height: 56px;
    background-color: #FF2288;
    color: #FFFFFF;
    border-radius: 12px;
    margin-left: 30px;
    border: 0px solid;
}

.sidebar{
   max-width: 319px;
   width: 100%;
   max-height: 1080px;
   height: 100%;
   display: inline-block;
   position:fixed;
   top: 0;
   z-index: 100;
   background-color: #222222;
}
.logo{
    margin:10px 30px auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.navbar li{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* margin-top:54px; */
    
}
.navbar p{
    width: 40px;
    height: 21px;
    color: #FFFFFF;
    margin-left: 15px;
}
.navbar a{
     width:15px;
    height: 20px;
}
.sidebar-end{
    display: flex;
    flex-direction: column;
    padding-left: 60px;

}
.middle{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.end{
    margin-top: 19px;
    margin-bottom:106px;
    color: #FFFFFF;
}
.sidebar-end li{
    display: flex;
    flex-direction: row;

}
.sidebar p{
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 31px;
}
.sidebar img{
    margin-top: 15px;
}
.container{
   max-width: 1350px;
   width: 100%;
   margin-top: 71px;
   padding-left: 400px;
   padding-right: auto;

}
.content-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.nav-wrapper{
    display: flex;
    flex-direction: row;
}
.filter-icon img{
    width:24px;
    display:inline-block;
    position: absolute;
    margin: 15px 30px auto 40px;
    z-index: 1;
}
.nav-wrapper li{
    margin-left:20px;
}
#filters{
    width: 125px;
    display: inline-block;
    position: relative;
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 30px;

}
.grid-container img{
    max-width: 289px;
    width: 100%;
    box-shadow: 0px 0px 20px #5B5EBA1F;
    border-radius: 12px;
}
.end-button{
    padding-left: 300px;
    margin-top: 70px;
}
.section-button{
    width: 289px;
    height: 56px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: #222222;
}

