*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    max-width: 1920px;
    max-height: 1663px;
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    padding-left: 344px;
    padding-right: 90px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

input{
    width:446px;
    height: 56px;
    margin-left:25px;
    background-color: #f8f8f8;
    position: relative;
    border:0px solid;
    border-radius: 12px;
}

i{
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 10;
    margin-left:-20px;
    margin-top:16px ;
}
.words{
    width: 55px;
    color: #FF2288;
    height: 19px;
}
.notification{
    width: 24px;
    height: 24px;
    margin-left: 30px;
}
.message{
    width: 24px;
    height: 24px;
    margin-left: 30px;
}
.picture{
    width: 56px;
    height: 56px;
    margin-left: 30px;
}
button{
    width: 129px;
    height: 56px;
    background-color: #FF2288;
    color: #FFFFFF;
    border-radius: 12px;
    margin-left: 30px;
    border: 0px solid;
}

.sidebar{
   width: 319px;
   max-height: 1080px;
   height: 100%;
   display: inline-block;
   position:fixed;
   top: 0;
   z-index: 100;
   background-color: #222222;
}
.logo{
    margin:42px 30px 106px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.navbar li{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* margin-top:54px; */
    
}
.navbar p{
    width: 52px;
    height: 21px;
    color: #FFFFFF;
    margin-left: 15px;
}
.navbar a{
     width:24px;
    height: 24px;
}
.sidebar-end{
    display: flex;
    flex-direction: column;
    padding-left: 60px;

}
.middle{
    margin-top: 89px;
    margin-bottom: 31px;
    color: #FFFFFF;
}
.end{
    margin-top: 19px;
    margin-bottom:106px;
    color: #FFFFFF;
}
.sidebar-end li{
    display: flex;
    flex-direction: row;

}
.sidebar p{
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 31px;
}
.sidebar img{
    margin-top: 15px;
}
.container{
   max-width: 1231px;
   width: 100%;
   margin: 87px 188px auto 501px;
}
.content-nav{
    display: flex;
    justify-content: space-between;
    font-size: 16x;
}
.nav-wrapper{
    display: flex;
    flex-direction: row;
}
.nav-wrapper li {
    margin-left: 52px;
}
#filters{
    width: 132px;
    height: 56px;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
}